-
  var stickers = [
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Движун',
      img: 'движун',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Полнолун',
      img: 'полнолун',
      bg: '#E7ECF3'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Ааагонь',
      img: 'ааагонь',
      bg: '#F2D7FF'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Ееедаа',
      img: 'ееедаа',
      bg: '#C3FFC9'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'На чиле',
      img: 'на чиле',
      bg: '#FFEDCC'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Поп Дог',
      img: 'поп дог',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Кить-коть',
      img: 'кить-коть',
      bg: '#D9E8FB'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Пинк Пу',
      img: 'пинк пу',
      bg: '#FFE1F0'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Пельмешка',
      img: 'пельмешка',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Маска',
      img: 'маска',
      bg: '#C3FFF4'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Движун',
      img: 'движун',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Полнолун',
      img: 'полнолун',
      bg: '#E7ECF3'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Ааагонь',
      img: 'ааагонь',
      bg: '#F2D7FF'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Ееедаа',
      img: 'ееедаа',
      bg: '#C3FFC9'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'На чиле',
      img: 'на чиле',
      bg: '#FFEDCC'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Поп Дог',
      img: 'поп дог',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Кить-коть',
      img: 'кить-коть',
      bg: '#D9E8FB'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Пинк Пу',
      img: 'пинк пу',
      bg: '#FFE1F0'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Пельмешка',
      img: 'пельмешка',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Маска',
      img: 'маска',
      bg: '#C3FFF4'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Кить-коть',
      img: 'кить-коть',
      bg: '#D9E8FB'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Пинк Пу',
      img: 'пинк пу',
      bg: '#FFE1F0'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Пельмешка',
      img: 'пельмешка',
      bg: '#FFE1E1'
    },
    {
      text: 'Танцевать где угодно и когда угодно — первое правило хорошего настроения от Движуна. Если вам немного взгрустнулось, то скорее лепите его на одежду и начинайте дэнсить',
      name: 'Маска',
      img: 'маска',
      bg: '#C3FFF4'
    }
  ]

section.section
  .stickers
    .stickers__gallery
      .stickers__gallery-wrap
        .stickers__slider.swiper
          img(src=require(`/images/sticker-main-bg.svg`), class="stickers__slider-bg" alt="background")
          .swiper-wrapper
            each sticker in stickers
              .swiper-slide
                .stickers__card
                  .stickers__card-img
                    img(src=require(`/images/stickers/${sticker.img}.svg`) alt=`${sticker.name}`)
                  //- .sticker__card-content
                  //-   h4.stickers__card-title= sticker.name
                  //-   p.stickers__card-description= sticker.text
        .stickers__slider-button.stickers__slider-button--desc.stickers__slider-button--prev
        .stickers__slider-button.stickers__slider-button--desc.stickers__slider-button--next

      .stickers__content
        each sticker, index in stickers
          .stickers__content-item(class=index ? '': 'active', data-index=index)
            h4.stickers__title= sticker.name
            p.stickers__description= sticker.text

      .stickers__slider-button.stickers__slider-button--prev
      .stickers__slider-button.stickers__slider-button--next

    .stickers__grid
      each sticker, index in stickers
        .stickers__grid-item(style=`background-color: ${sticker.bg}`, data-index=index)
          img(src=require(`/images/stickers/${sticker.img}.svg`), class="stickers__grid-img" alt=`${sticker.name}`)
          h6.stickers__grid-name= sticker.name

    .stickers__more
      span Посмотреть все Стикерсы
      span Скрыть



